@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #f5f5f5;
  display: grid;
  height:100vh;
  place-items: center;
  font-family: "Sora", sans-serif;
  overflow-x: hidden;
}
.container {
  width: 450px;
  height: 50vh;
  padding: 20px 5px;
  box-shadow: 0 0 30px #e5bfe8;
  border-radius: 10px;
  }
.logo {
  margin: 20px;
  color: #d033f0;
  text-align: center;
  font-size: 28px;
}
.img{
  width: 40px;
  height: 40px;
}
.inputContainer{
    width: 400px;
    height: 50px;
    outline: none;
    border: 2px solid #7d0d64;
    font-size: 20px;
    padding: 0px 20px;
    background: transparent;
    margin: 0px 25px;
    color: #000000;
    position: relative;
    border-radius: 5px;
}
.inputContainer .mtn_logo{
    position: absolute;
    margin-left: 10px;
   
}
.number{
    width: 310px;
    height: 43px;
    outline: none;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200px;
  color: black;
}
.number::placeholder{
  color: #5b154c; 
} 

.inputContainer h5{
  margin: 50px auto;
  font-size: 20px;
  font-weight: 100;
  color: #4b013b; 
}
img{
  width: 40px;
  height: 40px;
}


